@model WebApp.Models.HelperModel

@{
    Layout = null;
}

@*<span class="heading">@WebApp.Resources.DefaultLanguage.UserRating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>*@
@{decimal nbrReviews = Model.RestaurantModel.Grade.Five + Model.RestaurantModel.Grade.Four + Model.RestaurantModel.Grade.Three + Model.RestaurantModel.Grade.Two + Model.RestaurantModel.Grade.One;}

<div style="position:relative; left:250px;">
    @if (nbrReviews == 0)
    {
        nbrReviews = 1;
    }

    @{decimal sum = 5 * Model.RestaurantModel.Grade.Five + 4 * Model.RestaurantModel.Grade.Four + 3 * Model.RestaurantModel.Grade.Three + 2 * Model.RestaurantModel.Grade.Two + Model.RestaurantModel.Grade.One;}
    @{decimal average = Math.Round(sum / nbrReviews, 2);}
    @{decimal intPart = Math.Truncate(average); decimal DecimalPart = (average - intPart) * 100; int counter = 5;}
    @Html.Label("Korisničko zadovoljstov: ", htmlAttributes: new { @class = " text-center", style = "font-family:'Poppins',sans-serif; color:#ffffff99;" })
    @Html.Label(Math.Truncate(average).ToString() + "," + Math.Truncate(DecimalPart).ToString() + "/5", htmlAttributes: new { @class = " text-center", style = "font-family:'Poppins',sans-serif; color:#ffffff99;" })

    <br />
    @while (counter > 0)
    {
        while (Math.Truncate(intPart) > 0)
        {
            <i class="fa fa-star MyStar" style="text-shadow: 0 2px 5px rgba(0,0,0,.5);"></i>
            intPart--;
            counter--;
        }

        if (DecimalPart >= 50)
        {
            <i class="fa fa-star-half-full MyStar" style="text-shadow: 0 2px 5px rgba(0,0,0,.5);"></i>
            DecimalPart = 0;

        }
        else
        {
            if (counter != 0)
            {
                <i class="fa fa-star-o MyStar" style="text-shadow: 0 2px 5px rgba(0,0,0,.5);"></i>
            }
        }
        counter--;
    }

</div>

@{nbrReviews = Model.RestaurantModel.Grade.Five + Model.RestaurantModel.Grade.Four + Model.RestaurantModel.Grade.Three + Model.RestaurantModel.Grade.Two + Model.RestaurantModel.Grade.One;}

@*@if (nbrReviews == 0)
    {
        <p> Restoran još nitko nije ocijenio</p>

    }
    else if (nbrReviews % 10 == 2 || nbrReviews % 10 == 3 || nbrReviews % 10 == 4)
    {
        <p> Restoran su ocijenile @nbrReviews osobe</p>


    }
    else if (nbrReviews % 10 == 1)
    {
        <p> Restoran je ocijenila @nbrReviews osoba</p>

    }
    else
    {
        <p> Restoran je ocijenilo @nbrReviews osoba</p>

    }*@

<p style="position: relative; left: 250px; "> Restoran ima @nbrReviews reviewa</p>


<hr style="border:3px solid orange;">

@if (nbrReviews == 0)
{
    nbrReviews = 1;
}
@{ decimal persent5 = Math.Round((((decimal)Model.RestaurantModel.Grade.Five * 100) / nbrReviews), 2);}
@{ decimal persent4 = Math.Round((((decimal)Model.RestaurantModel.Grade.Four * 100) / nbrReviews), 2);}
@{ decimal persent3 = Math.Round((((decimal)Model.RestaurantModel.Grade.Three * 100) / nbrReviews), 2);}
@{ decimal persent2 = Math.Round((((decimal)Model.RestaurantModel.Grade.Two * 100) / nbrReviews), 2);}
@{ decimal persent1 = Math.Round((((decimal)Model.RestaurantModel.Grade.One * 100) / nbrReviews), 2);}
@*<h2>Rounded Progress Bars</h2>
    <p>Use any of the <strong>w3-round</strong> classes to add rounded corners to progress bars:</p>*@
<div class="w3-container" style="position:relative; width:70%;right:-30%;">



    <div class="row">
        <div class="side">
            <div>5 star</div>
        </div>
        <div class="middle">
            <div class="w3-light-grey w3-round-xlarge" style="margin-right:-10%;">
                <div class="w3-container w3-orange w3-round-xlarge" style="width:@persent5%;">@persent5%</div>
            </div>

        </div>
        <div class="side right">
            <div>@Model.RestaurantModel.Grade.Five</div>
        </div>
    </div>
    <div class="row">

        <div class="side">
            <div>4 star</div>
        </div>
        <div class="middle">
            @*<div class="bar-container">
                    <div class="bar-4"></div>
                </div>*@
            <div class="w3-light-grey w3-round-xlarge" style="margin-right:-10%;">
                <div class="w3-container w3-orange w3-round-xlarge" style="width:@persent4%;">@persent4%</div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RestaurantModel.Grade.Four</div>
        </div>
    </div>
    <div class="row">
        <div class="side">
            <div>3 star</div>
        </div>
        <div class="middle">
            @*<div class="bar-container">
                    <div class="bar-3"></div>
                </div>*@
            <div class="w3-light-grey w3-round-xlarge" style="margin-right:-10%;">
                <div class="w3-container w3-orange w3-round-xlarge" style="width:@persent3%;">@persent3%</div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RestaurantModel.Grade.Three</div>
        </div>
    </div>
    <div class="row">
        <div class="side">
            <div>2 star</div>
        </div>
        <div class="middle">
            @*<div class="bar-container">
                    <div class="bar-2"></div>
                </div>*@
            <div class="w3-light-grey w3-round-xlarge" style="margin-right:-10%;">
                <div class="w3-container w3-orange w3-round-xlarge" style="width:@persent2%;">@persent2%</div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RestaurantModel.Grade.Two</div>
        </div>
    </div>
    <div class="row">
        <div class="side">
            <div>1 star</div>
        </div>
        <div class="middle">
            @*<div class="bar-container">
                    <div class="bar-1"></div>
                </div>*@
            <div class="w3-light-grey w3-round-xlarge" style="margin-right:-10%;">
                <div class="w3-container w3-orange w3-round-xlarge" style="width:@persent1%;">@persent1%</div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RestaurantModel.Grade.One</div>
        </div>
    </div>
</div>
