@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="~/Content/RestaurantOverview.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    <title>FINE</title>
</head>
<body class="RestaurantBG">
    <div style="margin-bottom:40px; padding-bottom:30px;">
        @using (Html.BeginForm("FilterRestaurants", "Home", FormMethod.Post, new
        {
            id = "filterForm"
        }))
        {
            <input id="autoCompInput" placeholder='@WebApp.Resources.DefaultLanguage.FilterRestaurants' value="@Response.Cookies["Filter"].Value.ToString()" type="text" name="filter" class="navbar-brand form-control" style="position:relative; margin-left:39%;" />
        }
        <script>
            $(document).ready(function () {
                $("#autoCompInput").bind("keypress", {}, keypressInBox);

                function keypressInBox(e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (code == 13) { //Enter keycode
                        e.preventDefault();

                        $("filterForm").submit();
                    }
                };
            });
        </script>
    </div>


    @*<br />
    <br />
    <br />*@
    @foreach (WebApp.Models.RestaurantModel r in WebApiApplication.filteredRestaurants)
    {
        <div id="divLogin" class="col-md-4">
            <a href="@Url.Action("RestaurantDetails","Home",new { name = r.RestaurantName})" class="RestaurantCard">
                <div id="slide" class="jumbotron" style="background-color: #3e3e3eba;">
                    <div class="row" style="text-align:center;">
                        @*style="justify-content:center;text-align:center;align-content:center;"*@
                        <label id="lblTitle" class="RestaurantTitle">@r.RestaurantName</label>
                        @*@Html.Label(r.RestaurantName, htmlAttributes: new { @class = "text-center" })*@
                        <img src="@r.Image" alt="" asp-append-version="true" class="RestaurantImage" />
                        <br />
                        <br />
                        <br />
                        @Html.Label(r.RestaurantDetails, htmlAttributes: new { @class = "form-control text-center" })
                        @*@Html.Label(r.Food[0].Name, htmlAttributes: new { @class = "form-control text-center" })
                            @Html.Label(r.Wine[0].Name, htmlAttributes: new { @class = "form-control text-center" })*@
                        @{int intPart = (int)r.Grade.One; int DecimalPart = (int)((r.Grade.One - intPart) * 10); int counter = 5;}
                        @Html.Label("Ocjena:", htmlAttributes: new { @class = "form-control text-center" })
                        @while (counter > 0)
                        {
                            while (intPart > 0)
                            {
                                <i class="fa fa-star MyStar" style="text-shadow: 0 2px 5px rgba(0,0,0,.5);"></i>
                                intPart--;
                                counter--;
                            }

                            if (DecimalPart >= 5)
                            {
                                <i class="fa fa-star-half-full MyStar" style="text-shadow: 0 2px 5px rgba(0,0,0,.5);"></i>
                                DecimalPart = 0;

                            }
                            else
                            {
                                <i class="fa fa-star-o MyStar" style="text-shadow: 0 2px 5px rgba(0,0,0,.5);"></i>
                            }
                            counter--;
                        }
                    </div>
                </div>
            </a>
        </div>
    }
</body>
</html>


