<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="~/Content/RestaurantOverview.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    <title>FINE</title>
</head>
<body style="background-image: url(https://images.unsplash.com/photo-1514214460829-5f081763862a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-size:cover;min-height:100vh;background-position:center center;">
    @foreach (WebApp.Models.RestaurantModel r in WebApiApplication.filteredRestaurants)
    {
        <div class="col-md-4">
            <a href="@Url.Action("RestaurantDetails","Home",new { name = r.RestaurantName})" style="text-decoration:none; overflow:hidden; cursor: pointer;">
                <div id="slide" class="jumbotron" style="background-color: #282828;">
                    <div class="row" style="text-align:center;">
                        @*style="justify-content:center;text-align:center;align-content:center;"*@
                        <label style="color: orange; font-size: 2.5em; font-weight: 800; font-family: Segoe Script; font-style: oblique;">@r.RestaurantName</label>
                            @*@Html.Label(r.RestaurantName, htmlAttributes: new { @class = "text-center" })*@
                            <img  src="@r.Image" alt="" asp-append-version="true" style="max-width: 100%;max-height: 100%;border-radius: 50%;" />
                            <br />
                            <br />
                            <br />
                            @Html.Label(r.RestaurantDetails, htmlAttributes: new { @class = "form-control text-center" })
                            @*@Html.Label(r.Food[0].Name, htmlAttributes: new { @class = "form-control text-center" })
                                @Html.Label(r.Wine[0].Name, htmlAttributes: new { @class = "form-control text-center" })*@
                            @{int intPart = (int)r.Grade.One; int DecimalPart = (int)((r.Grade.One - intPart) * 10); int counter = 5;}
                            @Html.Label("Ocjena:", htmlAttributes: new { @class = "form-control text-center" })
                            @while (counter > 0)
                            {
                                while (intPart > 0)
                                {
                                    <i class="fa fa-star MyStar"></i>
                                    intPart--;
                                    counter--;
                                }

                                if (DecimalPart >= 5)
                                {
                                    <i class="fa fa-star-half-full MyStar"></i>
                                    DecimalPart = 0;

                                }
                                else
                                {
                                    <i class="fa fa-star-o MyStar"></i>
                                }
                                counter--;
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
</body>
</html>


