@model WebApp.Models.RestaurantModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/Rating.css" rel="stylesheet" type="text/css" />
    <title>@WebApp.Resources.DefaultLanguage.RestaurantDetails</title>
</head>
<body>
    @using (Html.BeginForm("UpdateGrade", "Home", new { RestaurantName = Model.RestaurantName }, FormMethod.Post, null))
    {

    <div>
        <h1>@WebApp.Resources.DefaultLanguage.RestaurantDetails</h1>
        @Html.DisplayFor(m => m, new { @class = "form-control text-center" })
        @Html.DisplayFor(m => m.Grade, new { @class = "form-control text-center" })
        <h1>Jela</h1>
        @{ for (int i = 0; i < 4; i++)
            {

                //i % 2 != 0 || i == 0 ? true : false

                @Html.CheckBox("cbf", i % 2 != 0 || i == 0 ? true : false);
                @Html.CheckBox("cbf", i % 2 != 0 ? true : false);
                @Html.CheckBox("cbf", i % 2 != 0 ? true : false);
                @Html.CheckBox("cbf", i % 2 != 0 ? true : false);
                @Html.CheckBox("cbf", i % 2 != 0 ? true : false);

                <br />
            }}
        <h1>Vina</h1>

        @{ for (int i = 0; i < 4; i++)
            {
                @Html.CheckBox("cbw", i % 2 != 0 || i == 0 ? true : false);
                @Html.CheckBox("cbw", i % 2 != 0 ? true : false);
                @Html.CheckBox("cbw", i % 2 != 0 ? true : false);
                @Html.CheckBox("cbw", i % 2 != 0 ? true : false);
                @Html.CheckBox("cbw", i % 2 != 0 ? true : false);
                <br />
            }}

        @*@foreach (var food in Model.Food)
        {
            @Html.DisplayFor(m => food, new { @class = "form-control text-center" })
        }

        @foreach (var wine in Model.Wine)
        {
            @Html.DisplayFor(m => wine, new { @class = "form-control text-center" })

        }*@


    </div>
        @RenderPage("~/Views/Shared/GradeView.cshtml", Model)
        @*<a href="javascript:void(0);" onclick="history.go(-1);">GO Back</a>*@
        <input id="Button1" type="button" value="Go Back" onclick="location.href='@Url.Action("Index","Home")'" />
        <button class="btn btn-success" id="btnLogin" type="submit">Submit Grade</button>
    }
</body>
</html>
